// @import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
    background-color: #FFAB00; // color: #FFAB00;
}

.section-home {
    height: 100vh;
    .imgcenter {
        img {
            width: 150px;
            margin: 0 auto;
            cursor: pointer;
        }
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .head-title {
        font-family: 'Josefin Slab', serif;
        text-align: center;
    }
}

.head-title {
    font-family: 'Josefin Slab', serif;
    text-align: center;
}

.relate {
    position: relative;
}

.section-about {
    margin-top: 90px;
    .form-control {
        background: transparent;
        border: 1px solid #000;
        border-radius: 0;
        &:focus {
            box-shadow: none;
        }
    }
    .form-group {
        input[type="text"]::-webkit-input-placeholder {
            color: #000;
        }
        input[type="email"]::-webkit-input-placeholder {
            color: #000;
        }
        input {
            color: #000;
        }
    }
    .about-form {
        .custom-btn {
            color: #fff;
            background-color: #b47900;
            border-color: #b47900;
        }
        .valid-data {
            color: red;
        }
    }
}